<nav>
    <ul class= "nav_links_class">
        <li><b>SOCIAL ADS</b></li>

        <li>
            <div ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle><b>AD LANGUAGE</b></a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li ngbDropdownItem>ENGLISH</li>
                    <li ngbDropdownItem>HINDI</li>
                    <li ngbDropdownItem>TELUGU</li>
                </ul>
            </div>
        </li>

        <li>
            <div ngbDropdown class="d-inline-block">
                <a class="btn" id="dropdownBasic1" ngbDropdownToggle><b>AD PLACE</b></a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li ngbDropdownItem>YOUTUBE</li>
                    <li ngbDropdownItem>WEBSITE</li>
                    <li ngbDropdownItem>FACEBOOK</li>
                </ul>
            </div>
        </li>

        <li>
            <div ngbDropdown class="d-inline-block">
                <a   [routerLinkActiveOptions]="{exact: true}" routerLinkActive = "link_active" class="btn" id="dropdownBasic1" ngbDropdownToggle><b>10,000</b></a>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li ngbDropdownItem>&#x20B9;10,000</li>
                    <li ngbDropdownItem>SELECT BANK ACCOUNT</li>
                    <li ngbDropdownItem>WITHDRAWAL</li>
                </ul>
            </div>
        </li>
        
        <li>
            <div ngbDropdown class="d-inline-block">
                <img src="../../assets/images/Icon awesome-female.png" class="btn circle" id="dropdownBasic1" ngbDropdownToggle>
                <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <li ngbDropdownItem>Mr. Nithish</li>
                    <li ngbDropdownItem>ADD BANK</li>
                    <li ngbDropdownItem>PAYMENT HISTORY</li>
                    <li ngbDropdownItem>LOGOUT</li>
                </ul>
            </div>
        </li>

    </ul>
</nav>