// .card{
//     border-radius: 15px;
//     width: 300px;
//     border: 2px solid rgb(209, 203, 203);
// }
// .btn{
//     outline: none;
// }
// .row{
//     margin: auto;
//     padding: 60px;
// }
// hr{
//     border-top: 2px solid rgb(209, 203, 203);
// }
// .act{
//     color: #2ffa14;
//     font-size:xx-large;
//     font-weight: bold;
// }
.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 30px;
  
    &:before {
      position:absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: "\f01d";
      font-family: FontAwesome;
      font-size: 100px;
      color: rgb(124, 120, 120);
      opacity: inherit;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

hr{
    border-top: 2px solid rgb(209, 203, 203);
    
}

.card img{
width: 100%;
height: 200px;
}