.card{
    border-radius: 15px;
    width: 300px;
    border: 2px solid rgb(209, 203, 203);
}
.btn{
    outline: none;
}
.row{
    margin: auto;
    padding: 60px;
}
hr{
    border-top: 2px solid rgb(209, 203, 203);
}
.act{
    color: #2ffa14;
    font-size:xx-large;
    font-weight: bold;
}