<app-login-menu></app-login-menu>

<div class="container">
    <div class="card">
        <div>
            <img class="upload-video" src="../../assets/images/create.png" alt="Play">
            <!-- <span (click)="video()" class="video-thumbnail"></span> -->
            <img style="width: 40px; height: 40px;" class="play-button" (click)="video()" src="../../assets/images/Icon awesome-play.png" alt="cursor">
            <img style="width: 40px; height: 40px;" class="download" (click)="video()" src="../../assets/images/Icon awesome-cloud-download-alt.png" alt="cursor">
        </div>
        <div (click)="copy()" class="copyLink">
            <h3><b>COPY LINK</b></h3>
        </div>
        <div (click)="paste()" class="pasteLink">
            <h3><b>PASTE LINK</b></h3>
        </div>
        <div class="activated">
            <h2 style="color: rgb(42, 185, 42);"><b>ACTIVATED</b></h2> 
        </div>
    </div>
</div>

<div class="popup" id="video">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="video()">×</div>
        
    </div>
</div>

<div class="popup" id="copy">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="copy()">×</div>
        <h2><b>COPY LINK</b></h2>
        <p>...........................................................</p>
    </div>
</div>

<div class="popup" id="paste">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" (click)="paste()">×</div>
        <h2><b>PASTE LINK</b></h2>
        <p>...........................................................</p>
    </div>
</div>