<app-login-menu></app-login-menu>
<div class="row">
	<div class="card px-6 py-5">
        <button type="button" class="btn">
			Video <img src="../../assets/images/Icon awesome-play.png" class="btn mb-2">
		</button>
        <hr>
		<button type="button" class="btn">
			Copy Link
		</button>
        <hr>
        <button type="button" class="btn">
			Paste Link
		</button>
        <hr>
        <button type="button" class="btn act">
			ACTIVATED <img src="../../assets/images/Image 5.png">
		</button>
    </div>
</div>