<div class="mat-dialog-container">
    <div class="upload-image">
        <img src="../../assets/images/Icon metro-folder-upload.png" alt="upload image">
        <h4>UPLOAD AD VIDEO OR PHOTO</h4>
    </div>
    <div class="adTitle">
        <input type="text" name="adTitle" placeholder= "Ad Title">
    </div>
    <div class="adLink">
        <input type="text" name="adTitle" placeholder= "Ad Link">
    </div>
    <div class="adLanguage">
        <p>Language</p>
    </div>
    <div class="adViews">
        <input [(ngModel)] = "adViews" disabled placeholder="Ad Views">
    </div>
    <div class="adBudget">
        <input [(ngModel)] = "adBudget" type="text" name="adbudget" id="budget" placeholder="Enter Your Budget" (ngModelChange) = "onValueChanged($event)">
    </div>
    <div class="createAd" (click) = "onCreateAd()">
        <h3>CREATE AD</h3>
    </div>
</div>