<div class="mat-dialog-container">
    <div class="upload-image">
        <img src="../../assets/images/Icon metro-folder-upload.png" alt="upload image">
        <h4>UPLOAD AD VIDEO OR PHOTO</h4>
    </div>
    <div class="adTitle">
        <p>Add Title</p>
    </div>
    <div class="adLink">
        <p>Add Link</p>
    </div>
    <div class="adLanguage">
        <p>Language</p>
    </div>
    <div class="adRupees">
        <p>100000</p>
    </div>
    <div class="adBudget">
        <p>10000</p>
    </div>
    <div class="createAd" (click) = "onCreateAd()">
        <h3>CREATE AD</h3>
    </div>
</div>