@import "../../colors.scss";
.mat-dialog-container {
    box-shadow: none;
    background: white;
    color: black;
    min-height: 480px;
    position: relative;

    h2 {
        color: green;
        text-align: center;
    }

    .spinner {
        position: absolute;
    }
}

.close {
    height: 25px;
    transform: rotate(45deg) !important;
    cursor: pointer;
}

.upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        margin-bottom: 1em;
        cursor: pointer;
    }
}

.adTitle, .adLink, .adLanguage, .adViews, .adBudget, .createAd {
    text-align: center;
    padding-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adTitle, .adLink, .adLanguage, .adViews, .adBudget {
    border-bottom: 1px solid $base_color;
}

.createAd {
    cursor: pointer;
}

input {
    text-align: center;
    margin: 5px 0;
}

input:focus {
    outline: none;
}

.adLanguage {
    cursor: pointer;
}

.arrow {
    display: flex;
    position: relative;
    margin-top: 5px;
    margin-bottom: -3px;

    span {
        position: absolute;
        margin-left: 160%;
        margin-top: -2px;
    }
}

.p-lang {
    text-align: center;
    padding: 3.5px;
    cursor: pointer;
}

.rotateArrow {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out;
}

.btn-danger {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: -3px;
}