<app-menu></app-menu>
<div class="create-ad-home">
    <div class="first-section">
        <div class="text-section">
            <h2>{{ titleText }}</h2>
            <br>
            <h2 [innerHTML] = "titleTag" style="text-align: center;"></h2>
            <span class="google-signin" (click) = "onSignInWithGoogle()"><img src="../../assets/images/google-login.png" alt="google-login"></span>
        </div>
        <div class="image-section">
            <img src="../../assets/images/promote banner.png" alt="banner-image">
        </div>
    </div>
    <div class="empty"></div>
    <div class="ad-budget">
        <h1 class="section-title" [innerHTML] = "budgetTitle"></h1>   
        <table class="budget-item">
            <tr>
                <td class="item-key">YOUTUBE VIEWS</td>
                <td >
                    <input [(ngModel)] = "youTubeViews" type="text" name="adbudget" id="adbudget" placeholder="Enter Your Budget" (ngModelChange) = "onValueChanged($event)">
                </td>                
            </tr>
            <tr>&nbsp;</tr>

            <tr>
                <td class="item-key">EARNINGS</td>
                <td>
                    <input [(ngModel)] = "earnings" disabled>
                </td>
            </tr>
            <tr>&nbsp;</tr>

        </table>
    </div>
    <div class="empty"></div>
    <div>
        <h1 class="section-title">How It Works</h1>
        <div class="how-it-works">
            <div class="work-item" *ngFor = "let item of txtImage">
                <h3>{{ item[0] }}</h3>
                <img [src]= "item[1]" alt="">
            </div>
        </div>
    </div>
    <div class="empty"></div>
</div>