@import "../../colors.scss";

nav {
    position: relative;

    span {
        position: absolute;
        margin-left: 85%;

        img {
            width: 80%;
            padding: 10px;
            border: 1px solid $base_color;
            border-radius: 60%;
        }
    }
}

.nav_links_class{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    font-weight: 700;
    height: 9vh;
    box-shadow: 0 8px 6px -6px $base-color;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.add-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 3em;
        margin-top: 1em;
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
        border: 1px solid $base_color;
    }
}
.col {
    margin: 1em 0;
}
.add-ad {
    border: 2px solid $base_color !important;
    border-radius: 15px !important;
    width: 300px;

    .video, .title, .views {
        border-bottom: 1px solid $base_color;
    }
    .video, .title, .views, .promote, .delete{
        text-align: center;

        p {
            margin:  10px 0px;
            text-align: center;
        }
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.container{
    min-height: 92vh;
}

.promote {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    span {
        display: block;
        position: absolute;
        margin-left: 80%;
        cursor: pointer;
    }
}

.delete {
    border-top: 1px solid $base_color;
}