/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "./colors.scss";

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-title {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base_color;
}

.empty {
    height: 3em !important;
}

.text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: $base_color;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: larger;
    margin: 2em;

    .google-signin {
        margin-top: 2em;
        cursor: pointer;

        img {
            max-width: 18em;
        }
    }
}

.mat-dialog-container {
    background: white;
}